/* 
font-family: 'Langar', cursive;
font-family: 'Open Sans Condensed', sans-serif;
*/

@import url('https://fonts.googleapis.com/css2?family=Langar&family=Open+Sans+Condensed:wght@300&display=swap');

*{
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  transition: all .5s ease;
}
html{
  scroll-behavior: smooth;
  scroll-padding-top: 70px;
  font-family: 'Open Sans Condensed', sans-serif;
}

body{font-size: 1.5rem ;}

/* utility classes start */

.container {
  max-width: 860px;
  margin: auto;
}


.px-1{padding: 0rem 3rem;}
.px-2{padding: 0rem 2rem;}
.px-3{padding: 0rem 1.5rem;}
.px-4{padding: 0rem 1rem ;}
.px-5{padding: 0rem .5rem ;}

.py-1{padding: 3rem 0rem;}
.py-2{padding: 2rem 0rem;}
.py-3{padding: 1rem 0rem;}

.padding{padding: .5rem 1rem; }
.margin{margin:0px 15px;}
.text-center{text-align: center;}

.m-1{margin-top: 30px;}


/* utility classes end */
#welcome-section h1{
  font-family: 'Langar', cursive;
  color: white;
  text-shadow: 2px 2px black;
}


li{
  list-style: none;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}


nav{
  display: flex;
  justify-content: center;
  margin: 0 auto;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
  z-index: 10;
  /* backdrop-filter: blur(30px);  interchangeable ui with the black bg*/
  background-color: black;
}

nav ul{
  display: flex;
}

nav ul li a{ 
  color: white;
  text-decoration: none;
  border: 1px solid white;
  display: inline-block;
  width: 100%;
  padding: .5rem 1rem ;
}

nav li{
  padding: .5rem 2vw;
  color: aliceblue;
}

nav li:hover{
  transform: translate(-5px,5px);
}

#welcome-section{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient( rgba(44, 30, 30, 0.541),
  rgba(32, 28, 28, 0.527)),
  url("https://images.pexels.com/photos/169573/pexels-photo-169573.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
  background-position: center;
  background-size: cover;
  background-clip: border-box;
  background-origin: border-box; 
  clip-path: circle(70.7% at 50% 22%);
}

#projects .showcase, #skills .showcase{
  display: flex;
  flex-wrap: wrap;
}

.project-tile{
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  max-width: 80vw;
  width: 400px;
  margin: 30px auto;
  border-radius: 15px;

}

.project-link{
  padding: .5rem 1rem;
  margin: 30px auto 30px;
  background-color: rgb(53, 151, 45);
  color: white;
  font-weight: bold;
  border-radius: 15px;
  display: inline-block;
  text-decoration: none;
}

.project-link:hover {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.project-link{
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.skill-display{
  width: 100px;
  height: 100px;
  margin:30px 30px;
}

.contact-details{
  display: inline-block;
  color: white;
  padding: 1rem 2rem;
  background-color: rgb(24, 20, 44);
  text-decoration: none;
  margin: 5px;
  border-radius: 15px;
}

.contact-details:hover{
  transform: translate(0px,10px);
}

footer{
  font-weight: bold;
  background-color: #000;
  color: white;
}



/* media query */

@media (max-height: 400px) {
  html{
    font-size: 16px;
  }
}